<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netMX" type="NetMX.Configuration.Provider.ProviderConfigurationSectionWithDefault, NetMX"/>
    <section name="netMXConnectorServerFactory" type="NetMX.Configuration.Provider.ProviderConfigurationSection, NetMX"/>
    <section name="netMXConnectorFactory" type="NetMX.Configuration.Provider.ProviderConfigurationSection, NetMX"/>
    <section name="netMXSecurityService" type="NetMX.Configuration.Provider.ProviderConfigurationSection, NetMX"/>
  </configSections>
  <netMX defaultProvider="default">
    <providers>
      <add name="default" type="NetMX.Server.MBeanServerBuilder, NetMX.Server"/>
    </providers>
  </netMX>
  <netMXConnectorServerFactory>
    <providers>      
      <add name="http" type="NetMX.Remote.Jsr262.Jsr262ConnectorServerProvider, NetMX.Remote.Jsr262" securityProvider="null"/>      
    </providers>
  </netMXConnectorServerFactory>
  <netMXConnectorFactory>
    <providers>      
      <add name="http" type="NetMX.Remote.Jsr262.Jsr262ConnectorProvider, NetMX.Remote.Jsr262"/>
    </providers>
  </netMXConnectorFactory>
  <netMXSecurityService>
    <providers>      
      <add name="null" type="NetMX.Remote.NullSecurityProvider, NetMX"/>
    </providers>
  </netMXSecurityService> 

  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="soap12Addressing200408WSHttpBinding"
           type="NetMX.Remote.Jsr262.Soap12Addressing200408WSHttpBindingCollectionElement, NetMX.Remote.Jsr262" />
      </bindingExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MBeanServerServiceBehavior">
          <serviceMetadata />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>      
      <soap12Addressing200408WSHttpBinding>
        <binding name="LargeMessages" maxReceivedMessageSize="10000000">
          <security mode="None"/>
        </binding>
      </soap12Addressing200408WSHttpBinding>      
    </bindings>    
    <services>
      <service behaviorConfiguration="MBeanServerServiceBehavior"
               name="NetMX.Remote.ServiceModel.MBeanServerService">
        <endpoint binding="basicHttpBinding" name="" contract="NetMX.Remote.ServiceModel.IMBeanServerContract" />
      </service>
    </services>
    <client>
      <endpoint name="remoteServer" binding="basicHttpBinding" contract="NetMX.Remote.ServiceModel.IMBeanServerContract"/>
    </client>
  </system.serviceModel>
</configuration>