body {
}
.sectionTitle
{
	font-weight: bold;
	font-size: large;
}
.attributes
{		
}
.attribute
{
	width : 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.attributeName
{
	width : 30%;
}
.attributeDescr
{
	width: 20%;
	font-style: italic;
}
.attributeValue
{
	width : 25%;
}
.attributeButtons
{	
	width : 25%;	
}
.operation
{
	width : 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.operationDescr
{
	font-style: italic;
}

INPUT
{
	width: 100px;
}
TD.attributesHeader
{
	font-weight : bold;
}
