body {
}
.SectionTitle
{
	font-weight: bold;
	font-size: large;
}
TABLE.Operation
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;	
}
TABLE.Attribute
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;	
}
TD.Operation
{	
}
TH.Operation
{

}
TD.Attribute
{

}
TH.Attribute
{

}

INPUT
{
	width: 100px;
}


