body
{
	margin-top: 0px;
	font-size: 10pt;
	margin-bottom: 0px;
	font-family: Verdana, Tahoma, Arial;
	background-color: #EEF6FE;
}
.SectionTitle
{
	font-weight: bold;
	font-size: large;
}
TABLE.GeneralInfo
{
	width: 100%;
	table-layout: fixed;
}
TABLE.Operation
{
	width: 100%;
	table-layout: fixed;
}
TABLE.Attribute
{
	width: 100%;
	table-layout: fixed;
}
TD.Operation
{
	padding: 2px;
	border: #006699 1px solid;
	background-color: #FCF9E8;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	vertical-align: baseline;
}
TD.GeneralInfoName
{
	font-weight: bold;
	font-size: 11px;
	color: #3362a6;
	padding: 2px;
	border: #006699 1px solid;
	background-color: #DEEDFE;
	vertical-align: top;
}
TD.GeneralInfoValue
{
	padding: 2px;
	border: #006699 1px solid;
	background-color: #FCF9E8;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	vertical-align: baseline;
}
TH.Operation
{
	font-weight: bold;
	font-size: 11px;
	color: #3362a6;
	padding: 2px;
	border: #006699 1px solid;
	background-color: #DEEDFE;
	vertical-align: top;
}
TD.Attribute
{
	padding: 2px;
	border: #006699 1px solid;
	background-color: #FCF9E8;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	vertical-align: baseline;
}
TH.Attribute
{
	font-weight: bold;
	font-size: 11px;
	color: #3362a6;
	padding: 2px;
	border: #006699 1px solid;
	background-color: #DEEDFE;
	vertical-align: top;
}

INPUT
{
	width: 100px;
}


.CSS_Control
{
	border: #6699CC 1px solid;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	clip: rect(auto auto auto auto);
	padding-top: 2px;
	background-color: #C0DAF6;
}
.CSS_Button
{
	padding-right: 4px;
	font-family: Verdana, Arial;
	font-size: 10px;
	padding-bottom: 4px;
	width: 133px;
	padding-left: 4px;
	padding-top: 4px;
	height: 20px;
	border: 0px;
	background-image: url(images/button_bg.gif);
}

.CSS_Button
{
   padding-right: 4px;
   font-family: Verdana, Arial;
   font-size: 10px;
   padding-bottom: 4px;
   width: 133px;
   padding-left: 4px;
   padding-top: 4px;
   height: 20px;
   border: 0px;
   background-image: url(images/button_bg.gif);
}
.CSS_ButtonSmall
{
   padding-right: 4px;
   font-family: Verdana, Arial;
   font-size: 10px;
   padding-bottom: 4px;
   width: 65px;
   padding-left: 4px;
   padding-top: 4px;
   height: 20px;
   border: 0px;
   background-image: url(images/small_button_bg.gif);
}